form(class="createForm" action="/worker", method="post" onsubmit="this.task_id.value = this.parentElement.id")
    input(type="email" name="email" placeholder="email" required)
    input(type="password" name="password" placeholder="password" required)
    input(type="hidden", name="task_id" value="")
    input(type="submit", value="save")
