form(action="/task", method="post", onsubmit="this.house.value = this.parentElement.id") 
    input(type="text" name="name" placeholder="title" required)
    input(type="text" name="desc" placeholder="description" required)
    input(type="hidden" name="house" value="")
    input(type="submit", value="save")
