form(class="createForm" hx-post="/house" hx-target="this" hx-swap="afterend") 
    input(type="text" name="address" placeholder="address" required)
    input(type="number" name="room" placeholder="number of rooms" required)
    input(type="text" name="type" placeholder="description" required)
    input(type="number" name="sqm" placeholder="square meters" required)
    input(type="submit" value="save")